<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKAutoCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A936A0F91C8D278D00A32E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A936A10D1C8D278D00A32E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A936A1181C8D278D00A32E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
